.sub_movie {
	height: 100%;
	position: relative;
	.parent {
		display: flex;
		flex-flow: row wrap;
		padding: 10px;
	}
	/* 让加载动画居中 */
	.myspin {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
